<footer class="site-footer">
    <div class="footer-logo">RED <span>Workspace</span></div>
    <div class="footer-contact">
      <p>Telephone: 0207 867 3719</p>
      <p>Email: info@redworkspace.co.uk</p>
      <p>124 City Road, London, England, EC1V 2NX</p>
    </div>
    <div class="footer-social">
        <a href="#"><img src="img/ICONS/Facebook_Color.svg" alt="Facebook"></a>
        <a href="#"><img src="img/ICONS/Twitter_Color.png" alt="Twitter"></a>
      <a href="#"><img src="img/ICONS/Instagram_Color.png" alt="Instagram"></a>
      <a href="#"><img src="img/ICONS/Linkedin_Color.svg" alt="LinkedIn"></a>
    </div>
  </footer>